*::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

body {
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  overflow-y: scroll;
}

html {
  background-color: #191c1d;
}

.user {
  color: #4cd6fb;
}

.location {
  color: #b3ebff;
  font-weight: bold;
}
